.container-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(194, 194, 194, 0.6);
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 6px;
}
.forecast-son {
  width: 95%;
  text-align: center;
}
.btn-modal {
  height: 20px;
  width: 60%;
  font-size: 14px;
  background: #eae9e9;
  border-radius: 10px;
  color: #605d5d;
  border: none;
  margin-bottom: 10px;
}
.modal-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(236, 178, 99, 0.5);
  margin: 4px;
}
.modal-temp {
  display: flex;
  flex-direction: column;
}
